@page
@model CollegePlacementsWebApp.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Student Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FatherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FatherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Branch.BranchID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Percentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Percentage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-secondary" asp-route-id="@Model.Student.StudentID">Edit</a>
</div>
