@page
@model CollegePlacementsWebApp.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Company Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.FoundedYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.FoundedYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.NoOfBranches)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.NoOfBranches)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-secondary" asp-route-id="@Model.Company.CompanyID">Edit</a>
</div>
