@page
@model CollegePlacementsWebApp.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Job Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Package)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Package)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Company.CompanyID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-secondary" asp-route-id="@Model.Job.JobID">Edit</a>
</div>
